/* Stylesheet for hamberfim.com */
/* author: Anthony Hamlin */
/*Color Scheme
Blue: 
#117CD9
RGB 17, 124, 217
HSV 208, 92, 85
CMYK 92, 43, 0, 15
LAB 51, 7, -55
------------------
LT_Tan: 
#D9B777
RGB 217, 183, 119
HSV 39, 45, 85
CMYK 0, 16, 45, 15
LAB 76, 4, 37
------------------
LT_Gray: 
#BFB8AE
RGB 191, 184, 174
HSV 35, 9, 75
CMYK 0, 4, 9, 25
LAB 75, 1, 6
------------------
Red: 
#D93636
RGB 217, 54, 54
HSV 0, 75, 85
CMYK 0, 75, 75, 15
LAB 49, 62, 39
------------------
Black: 
#0D0D0D
RGB 13, 13, 13
HSV 0, 0, 5
CMYK 0, 0, 0, 95
LAB 4, 0, 0
*/



